SQLAlchemy~=2.0.51
fastapi~=0.137.1
pydantic~=2.13.4
influxdb-client~=1.50.0
pandas~=3.0.3
joblib~=1.5.3
scikit-learn~=1.9.0
numpy~=2.4.6
aio-pika~=9.6.2
keras~=3.14.1
tensorflow
aiohttp
aiocsv==1.4.1