spring:
  config:
    import: "optional:configserver:http://config-server:8888"

  cloud:
    config:
      fail-fast: true
      retry:
        max-attempts: 20
        initial-interval: 2000
        multiplier: 1.5
        max-interval: 10000
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest
  datasource:
    username: postgres
    password: password
    url: jdbc:postgresql://postgres:5432/user_db